<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/demandExp.css">
</head>
<body>
    
    <section class="sectG-p">
        <section class="second-sec">
            <div>
                <div class="div-b">
                     <h3>Demande d'expedition du colis</h3>
                </div>
                <div class="div-b">
                    <h2><img src="../../public/assets/img/elements/courrier-decoupe-telephone-mobile-pile-expedition_1134-1173.webp" alt="" width="100px" height="100px"></h2>
               </div>
               <div class="div-b">
                 <button>Informations sur l'expedition du colis</button>
               </div>
               <div class="div-b">
                 <p>Veuillez entre les information correct et a jour pour la securite de votre colis </p>
              </div>
               
            </div>
            
        </section>
       
        <section class="sect-principal">
            <section class="sect-1">
                <div class="div-1 div-dest">
                 <h4>Infos destinataire</h4>
                 <form action="" class="form-dest">
                    <div class="div-inputLab">
    
                        <div class="div-input">
                            <label for="nom">Nom</label>
                            <input type="text" placeholder="le nom du destinataire">
                        </div> 
                       
                        <div  class="div-input">
                            <label for="nom">Prenom</label>
                            <input type="text" placeholder=" Prenom du destinataire">
                        </div> 
    
                    </div>
    
                    <div class="div-inputLab">
    
                        <div  class="div-input">
                            <label for="nom">Pays</label>
                            <select name="" id="">
                                <option value="">Select Timezone</option>
                            <option value="-12">Algérie Algérie</option>
                            <option value="-11">Angola Angola</option>
                            <option value="-10">
                              Bénin Bénin</option>
                            <option value="-9">Botswana Botswana</option>
                            <option value="-8">Botswana Botswana</option>
                            <option value="-8">
                              Burundi Burundi</option>
                            <option value="-7">Cameroun Cameroun</option>
                            <option value="-7"> Afrique du Sud Afrique du Sud</option>
                            <option value="-7">Cap-Vert Cap-Vert</option>
                            <option value="-6">Comores Comores</option>
                            <option value="-6">
                              République du Congo République du Congo</option>
                            <option value="-6">Côte d'Ivoire Côte d’Ivoire</option>
                            <option value="-6">Égypte Égypte</option>
                            <option value="-5">Gabon Gabon</option>
                            <option value="-5">Érythrée Érythrée</option>
                            <option value="-5">Swaziland Eswatini</option>
                            <option value="-4">Ghana Ghana</option>
                            <option value="-4">
                              Guinée Guinée</option>
                             </select>
                        </div> 
                       
                        <div  class="div-input">
                            <label for="nom">Ville</label>
                            <select name="" id="">
                                <option value="">Douala</option>
                                <option value="">yaounde</option>
                                <option value="">Ebolowa</option>
                             </select>
                        </div> 
                    </div>
    
                    <div class="">
                          
                        <div  class="div-input">
                            <label for="nom">Email</label>
                            <input type="text" placeholder=" Email du destinataire">
                        </div>
                        
    
                        <div  class="div-input">
                            <label for="nom">Telephone</label>
                            <input type="text" placeholder="Telephone de destinataire">
                        </div> 
    
                    </div>
                 </form>
    
                </div>
    
                <!-- form mode paiement moyent transport -->
                <div class="div-1 Mt-mp">
                    <h4>Moyen paiement & Mode transport</h4>
                    <form action="">
                       <div class="div-inputLa">
       
                           <div class="div-input">
                               <label for="nom">Moyen transport</label>
                                 <select name="" id="">
                                    <option value="">Aerien</option>
                                    <option value="">Aerien</option>
                                    <option value="">Aerien</option>
                                 </select>
                                    
                     
                           </div> 
                          
                           <div  class="div-input">
                               <label for="nom"> Mode paiement</label>
                               <select name="" id="">
                                <option value="">Cash</option>
                                <option value="">Cash</option>
                                <option value="">Cash</option>
                                <option value="">Cash</option>
                             </select>
                               
                           </div> 
        
                            
       
       
                       </div>
       
       
                    
                    </form>
                </div>
                
            </section>
              <hr>
            <section class="sect-2">
                <h4>Moyen paiement & Mode transport</h4>
                <div class="inputLabel-flesDiv">
                    <form action="">
                        <div class="div-inputLab2">
        
                            <div  class="div-input">
                                <label for="nom">Poids (kg)</label>
                                <input type="number" placeholder=" 1">
                            </div> 
                           
                            <div  class="div-input">
                                <label for="nom">Long(cm)</label>
                                <input type="number" placeholder=" 1">
                            </div> 
        
                            
                            <div  class="div-input">
                                <label for="nom">Larg(cm)</label>
                                <input type="number" placeholder=" 1">
                            </div>
    
                            <div  class="div-input">
                                <label for="nom">Hauteur</label>
                                <input type="number" placeholder=" 1">
                            </div> 
    
                            <div  class="div-input">
                                <label for="nom">Quantite</label>
                                <input type="number" placeholder=" 1">
                            </div> 
        
                        </div>
                        <div class="div-inputLab2">
    
                            <div class="div-input div-input2">
                                <label for="nom">Description</label>
                                <input type="text" placeholder=" Description colis">
                            </div> 

                            <div  class="div-input div-input2">
                                <label for="nom">Destination</label>
                                <input type="text" placeholder=" Destination colis">
                            </div>
        
                           
                            <div  class="div-input div-input2">
                                <label for="nom">Date d'envoie</label>
                                <input type="date" placeholder="">
                            </div>
        
                            
        
                        </div>
        
    
                    </form>
                   
    
                </div>
                <div class="dic-brn">
                     <button>Ajouter un colis</button>
                </div>
               
            </section>
    
           
        </section>
        <div class="dic-brn dic-brn2">
            <button>Envoiyer mon colis</button>
       </div>

    </section>
   
</body>
</html>