<!DOCTYPE html>
<style>
 .avatar .imageMp{
    width: 280px;
    height: 100px;
  }
  .col-6{
    margin: 0 10px 0 0;
  }
  .titre-card-body2{
    transform: translateY(70px);
    margin-left: 45px;
  }
 .col-lg-4 .card-body2{
    width: 300px;
    height: 180px;
  }
  .imgMp2{
    width: 150px;
  }
  /* .image-moyen-paiement1{
   
  } */

  /* moyen paiement 3 */
  .bloc-Mp3{
   
    margin-left: 700px;
    transform: translateY(-420px);
  
  }
  .imgmp{
    border-radius: 10px;
  }
  body{
    background: rgba(0, 0, 0, 0.7) url(../assets/img/elements/istockphoto-1284416170-1024x1024.jpg);
           background-repeat: no-repeat;
           background-position: center;
           background-size: cover; 
           background-blend-mode: darken;
  }
</style>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Dashboard - Analytics | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <!-- -->
          <%- include('aside.ejs') -%>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

       
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-lg-8 mb-4 order-0">
                  <div class="card">
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-7">
                        <div class="card-body">
                          <h5 class="card-title text-primary">Consulter vos demandes  🎉</h5>
                          <p class="mb-4">
                           Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit.
                          </p>

                          <a href="javascript:;" class="btn btn-sm btn-outline-primary">Consulter</a>
                        </div>
                      </div>
                      <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                          <img
                            src="/assets/img/elements/istockphoto-1387859394-1024x1024-removebg-preview.png"
                            height="150" width="200"
                            alt="View Badge User"
                            data-app-dark-img="illustrations/man-with-laptop-dark.png"
                            data-app-light-img="illustrations/man-with-laptop-light.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>         
                </div>
                <div class="col-lg-4 col-md-4 order-1">
                  <div class="row">
                    <div class="">
                      <div class="card">

                        <div class="card-body card-body2">
                          <div class="card-title d-flex align-items-start justify-content-between ">
                            <div class="avatar flex-shrink-0">
                              <img class="rounded imageMp" src="/assets/img/elements/istockphoto-1431570827-1024x1024.jpg"/>
                            </div>
                            <div class="dropdown">
                              <button
                                class="btn p-0"
                                type="button"
                                id="cardOpt3"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <!-- <i class="bx bx-dots-vertical-rounded"></i> -->
                              </button>
                              <!-- <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                              </div> -->
                            </div>
                          </div>
                           <a href="javascript:;" class="btn btn-sm btn-outline-primary">Demander</a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- Total Revenue -->
                <!-- <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                  <div class="card">
                    <div class="row row-bordered g-0">
                      <div class="col-md-8">
                        <h5 class="card-header m-0 me-2 pb-3">Total Revenue</h5>
                        <div id="totalRevenueChart" class="px-2"></div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-body">
                          <div class="text-center">
                            <div class="dropdown">
                              <button
                                class="btn btn-sm btn-outline-primary dropdown-toggle"
                                type="button"
                                id="growthReportId"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                              >
                                2022
                              </button>
                              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                <a class="dropdown-item" href="javascript:void(0);">2021</a>
                                <a class="dropdown-item" href="javascript:void(0);">2020</a>
                                <a class="dropdown-item" href="javascript:void(0);">2019</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="growthChart"></div>
                        <div class="text-center fw-semibold pt-3 mb-2">62% Company Growth</div>

                        <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                          <div class="d-flex">
                            <div class="me-2">
                              <span class="badge bg-label-primary p-2"><i class="bx bx-dollar text-primary"></i></span>
                            </div>
                            <div class="d-flex flex-column">
                              <small>2022</small>
                              <h6 class="mb-0">$32.5k</h6>
                            </div>
                          </div>
                          <div class="d-flex">
                            <div class="me-2">
                              <span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
                            </div>
                            <div class="d-flex flex-column">
                              <small>2021</small>
                              <h6 class="mb-0">$41.2k</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!--/ Total Revenue -->
                <div class="col-12 col-md-8 order-3 ">
                  <div class="d-flex justify-content-between">
                    <div class="col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="image-moyen-paiement1">
                             <img class="imgmp" src="/assets/img/elements/istockphoto-1279313029-1024x1024.jpg" alt="" width="280" height="200">
                             
                            </div>
                          </div>
                          <span class="d-block mb-1">Transport maritime</span>
                          <h3 class="card-title text-nowrap mb-2">$2,456</h3>
                          <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> -14.82%</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                   
                        
                              <div class="image-moyen-paiement1">
                                <img class="imgmp" src="/assets/img/elements/istockphoto-1279313029-1024x1024.jpg" alt="" width="280" height="200">
                                
                               </div>                             
                          
                          </div>
                          <span class="fw-semibold d-block mb-1">Transport aerient</span>
                          <h3 class="card-title mb-2">$14,857</h3>
                          <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.14%</small>
                        </div>
                      </div>
                    </div>
                    <!-- bloc-Mp3 -->
                    <div class="col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            
                            
                              <div class="image-moyen-paiement1">
                                <img class="imgmp" src="/assets/img/elements/istockphoto-1279313029-1024x1024.jpg" alt="" width="280" height="200">
                                
                               </div>    
                          </div>
                          <span class="fw-semibold d-block mb-1">Transport routiere</span>
                          <h3 class="card-title mb-2">$14,857</h3>
                          <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.14%</small>
                        </div>
                      </div>
                    </div>
                    <!-- </div>
    <div class="row"> -->
                 
                  </div>
                </div>
              </div>





           

              <div class="col-12 col-md-8 order-3 ">
                <div class="d-flex justify-content-between">
                  <div class="col-6 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="image-moyen-paiement1">
                          <h3>Demande total en cour</h3>
                             
                          </div>
                        </div>
                        <div class="d-flex margin-left margin-left">
                          <div>
                            <h3 class="card-title mb-2">857</h3>
                            <span class="fw-semibold d-block mb-1">Devis</span>
                            <small class="text-success fw-semibold">14%</small>
                          </div>
                          <div>
                            <img class="rounded" src="/assets/img/elements/istockphoto-1193265314-1024x1024.jpg" alt="" width="50" height="50">
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-6 mb-4">
                    <div class="card">
                      <div class="card-body">

                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="image-moyen-paiement1">
                             <h3>Demande total effectuer</h3>
                             </div>                             
                        </div>
                        <div class="d-flex margin-left margin-left">
                          <div>
                            <h3 class="card-title mb-2">857</h3>
                            <span class="fw-semibold d-block mb-1">Devis</span>
                            <small class="text-success fw-semibold">14%</small>
                          </div>
                          <div>
                            <img class="rounded" src="/assets/img/elements/istockphoto-1193265314-1024x1024.jpg" alt="" width="50" height="50">
                          </div>
                          
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <!-- bloc-Mp3 -->

                  <!-- </div>
  <div class="row"> -->
               
                </div>
              </div>
  
            </div>



            

          
            

            
            <!-- / Content -->

            <!-- Footer -->
            <%- include('footer.ejs')-%>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>

        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
